$bodyBackground: #F5F6FA;
$darkGrayBackground: #19353E;
$modalBackground: #e5e5e9;
//Text
$textMainColor: #19353E;

$primary: #27B3B8;
$primaryLight: #CCEAE9;
$primaryDark: #1C8185;
$secondary: #009892;
$tertiary: #F4704D;
$borderColor: #CCEAE9;
$warning: #F39131;

//status badges
$creatingStatus: #CCEAE9;
$createdStatus: $primary;
$modificatingStatus: #F3C431;
$archivedStatus: #DB4943;
