@font-face {
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('@/assets/fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-bold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('@/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}

$fontRegular: 'Poppins-regular', Arial, Helvetica, sans-serif;
$fontBold: 'Poppins-bold', Arial, Helvetica, sans-serif;